<div class="title">
    <h1 class="mt-5">{{ title }}</h1>
</div>

<div *ngFor="let favourite of myFavourites">
    <h5>{{ favourite.cityName }}</h5>
    <button (click)="getWeather(favourite.cityName)">Get Weather</button>
    <button class="ml-2" (click)="toggleDisplay(favourite.cityName)">Hide</button>

    <div *ngIf="favourite.data && favourite.displayText">
        <p>City: {{ favourite.data.location.name }}</p>
        <p>Region: {{ favourite.data.location.region }}</p>
        <p>Country {{ favourite.data.location.country }}</p>
        <p>Temperture: {{ favourite.data.current.temp_c }}°C</p>
        <p>Feels Like: {{ favourite.data.current.feelslike_c }}°C</p>
        <p>Condition: {{ favourite.data.current.condition.text }}</p>
        <p>Humidity: {{ favourite.data.current.humidity }}</p>
        <p>Wind (mph): {{ favourite.data.current.wind_mph }}</p>
        <!-- <p>I am working</p> -->
    </div>
</div>