<div class="weather mt-5">
    <h1>{{ title }}</h1>

    <form class="mb-5" [formGroup]="cityForm" (ngSubmit)="handleSumbit()">
        <div>
            <label for="cityName" class="form-label">Enter a City</label>
            <input type="email" class="form-control city-input" formControlName="cityName" placeholder="London...">
        </div>

        <button class="btn btn-primary mt-2">Submit</button>
    </form>

    <div *ngIf="weather$ | async as weather">
        <p>City: {{ weather.location.name }}</p>
        <p>Region: {{ weather.location.region }}</p>
        <p>Country {{ weather.location.country }}</p>
        <p>Temperture: {{ weather.current.temp_c }}°C</p>
        <p>Feels Like: {{ weather.current.feelslike_c }}°C</p>
        <p>Condition: {{ weather.current.condition.text }}</p>
        <p>Humidity: {{ weather.current.humidity }}</p>
        <p>Wind (mph): {{ weather.current.wind_mph }}</p>
        <button (click)="addToFav(weather.location.name)" [disabled]="isDisable">Add to Favourites</button>
    </div>

    <div *ngIf="errorMessage">
        <p class="text-danger">{{ errorMessage }}</p>
    </div>
</div>