<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">My Weather App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/weather']" routerLinkActive="active">Weather</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/my-favourites']" routerLinkActive="active">My Favourites</a>
        </li>
      </ul>
    </div>
    <!-- {{ message$ | async }}
    <button (click)="goAction()">Go</button>
    <button (click)="stopAction()">Stop</button> -->
    <div *ngIf="post$ | async as p">
      <h3>{{ p.text }}</h3>
      <input [(ngModel)]="text">
      <button (click)="editText()">Change text</button>
    </div>

  </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>